:root {
  --background: 255 255 255;
  --foreground: 17 21 23;

  --muted: 245 245 245;
  --muted-foreground: 101 107 111;

  --border: 232 239 240;

  /* same colors both themes */
  --accent-blue: 0 147 233;
  --accent-green: 0 179 116;
  --accent-red: 255 0 115;

  --primary: var(--accent-blue);
}

.dark,
[data-theme="dark"] {
  --background: 0 0 0;
  --foreground: 221 226 228;

  --muted: 15 15 15;
  --muted-foreground: 101 107 111;

  --border: 36 40 42;
}

body {
  font-family: "Chirp", sans-serif;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
