---
import Layout from "@/layouts/Layout.astro";
import { parseUrl } from "./parse-url";

const res = parseUrl.safeParse(Astro.params);
if (!res.success) {
  return Astro.redirect("/");
}

const { id } = res.data;
---

<Layout title="tururu">
  <h1>Tweet {id}</h1>
</Layout>
