---
import { tweets } from "@/constants/tweets";
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import Reply from "@/icons/x.svg?raw";
import Icon from "@/icons/Icon.astro";
---

<Layout title="Can't say">
  <button id="reply" class="">
    <Icon name="person" class="w-8 h-8 text-blue-400" />
    <svg set:html={Reply} class="w-8 h-8" />
  </button>
  <main class="m-auto p-4 w-[800px] max-w-[calc(100% - 2rem)] text-xl">
    <ul class="space-y-3">
      {
        tweets.map((i, idx) => (
          <Card
            body={i.tweet}
            href={`${i.user.user}/tweet/${idx + 1}`}
            title={`Tweet ${idx + 1}`}
            images={i.photos}
          />
        ))
      }
    </ul>
  </main>
</Layout>
<script>
  const handleClick = () => {
    console.log("hi", "hi");
    Astro.redirect("/404");
  };
  const btn = document.getElementById("reply");
  btn?.addEventListener("click", handleClick);
</script>
