---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Can't say">
  <main
    class="m-auto p-4 w-[800px] max-w-[calc(100% - 2rem)] text-white text-xl"
  >
    <ul class="space-y-3">
      <Card body="hi" href="/a" title="Mete bala" />
      <Card body="hi" href="https://google.com" title="Mete bala" />
      <Card body="hi" href="https://google.com" title="Mete bala" />
      <Card body="hi" href="https://google.com" title="Mete bala" />
      <Card body="hi" href="https://google.com" title="Mete bala" />
      <Card body="hi" href="https://google.com" title="Mete bala" />
    </ul>
  </main>
</Layout>
