---
import { tweets } from "@/constants/tweets";
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Can't say">
  <main class="sm:col-span-3 md:col-span-4 md:border-r">
    <ul class="space-y-3 px-8">
      {
        tweets.map((i, idx) => (
          <Card
            body={i.tweet}
            href={`${i.user.user}/tweet/${idx + 1}`}
            title={`Tweet ${idx + 1}`}
            images={i.photos}
          />
        ))
      }
    </ul>
  </main>
</Layout>
