---
import { tweets } from "@/constants/tweets";
import Layout from "@/layouts/Layout.astro";
import TweetItem from "@/components/Tweet.astro";
---

<Layout title="X / Home">
  <main class="flex-1 max-w-[600px] sm:border-r sm:border-border">
    <ul class="divide-y divide-border">
      {tweets.map((i, idx) => <TweetItem index={idx} tweet={i} />)}
    </ul>
  </main>
</Layout>
<script></script>
