---
import { Image } from "astro:assets";
type Props = { title: string; body: string; href: string; images: string[] };

const { title, body, images } = Astro.props;
---

<li class="w-full block bg-background transition-all hover:bg-muted">
  <h1 transition:name="title">
    {title}
  </h1>
  {
    images.map((img, idx) => (
      <Image
        transition:name={`img-${idx}`}
        src={`https://pbs.twimg.com/media/${img}?format=webp&name=small`}
        width="130"
        height="130"
        alt="tweet image"
      />
    ))
  }
  <span class="block">
    {body}
  </span>
</li>
