---
import Icon from "@/icons/Icon.astro";
---

<aside
  class="hidden sm:flex flex-1 max-w-[350px] md:flex-[0.14]h-screen overflow-scroll border-r border-border flex-col items-start px-2"
>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="x" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="home" class="w-7 h-7" />
    <span class="font-bold text-xl">Home</span>
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="search" class="w-7 h-7" />
    <span class="font-bold text-xl">Explore</span>
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="bell" class="w-7 h-7" />
    <span class="font-bold text-xl">Notifications</span>
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="mail" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="list" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="people" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="x" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="person" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3 flex items-center gap-4">
    <Icon name="more" class="w-7 h-7" />
  </button>
</aside>
