---
import Icon from "@/icons/Icon.astro";
---

<aside
  class="hidden sm:flex flex-[0.1] xl:flex-[0.2] md:flex-[0.14]h-screen overflow-scroll border-r border-border flex-col items-end xl:items-center px-2"
>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="x" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="home" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="search" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="bell" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="mail" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="list" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="people" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="x" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="person" class="w-7 h-7" />
  </button>
  <button class="rounded-full hover:bg-muted p-3">
    <Icon name="more" class="w-7 h-7" />
  </button>
</aside>
