---
type Props = {
  items: { value: any; label: string }[];
  //   onChange: (val: any) => void;
};
const { items } = Astro.props;
---

<div class="grid grid-cols-2" transition-persist>
  {
    items.map((item, index) => {
      const dataActive = index !== 0;
      return (
        <button
          data-active={dataActive}
          class="px-8 flex justify-center hover:bg-foreground/10 transition-colors pt-1"
        >
          <div>
            <span
              data-active={dataActive}
              class="font-medium block py-2 data-[active]:text-muted-foreground"
            >
              {item.label}
            </span>
            <div
              data-active={dataActive}
              class="bg-primary rounded-full h-1 w-auto data-[active]:bg-transparent"
            />
          </div>
        </button>
      );
    })
  }
</div>
