---
import { ViewTransitions } from "astro:transitions";
import Themes from "astro-themes";
import SiteLayout from "./SiteLayout.astro";

type Props = { title: string };

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Themes />
    <ViewTransitions />
    <style is:global is:inline>
      @font-face {
        font-family: "Chirp";
        font-weight: 400;
        font-display: optional;
        src: url(chirp-regular-web.woff2) format("woff2");
        font-style: normal;
      }
      @font-face {
        font-display: optional;
        font-family: "Chirp";
        font-weight: 500;
        src: url(chirp-medium-web.woff) format("woff");
        font-style: normal;
      }
      @font-face {
        font-display: optional;
        font-family: "Chirp";
        font-weight: 700;
        src: url(chirp-bold-web.woff) format("woff");
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <SiteLayout>
      <slot />
    </SiteLayout>
    <style is:global is:inline>
      :root {
        --background: #ffffff;
        --foreground: #101518;
        --primary: #1d9bf0;
        --muted: #f6f6f6;
        --muted-foreground: #71767b;
        --gray: #00004d;
        --border: #ecf1f2;
      }

      .dark,
      [data-theme="dark"] {
        --background: #000;
        --foreground: #e2e6e7;
        --primary: #1d9bf0;
        --muted: #0c0c0c;
        --muted-foreground: #71767b;
        --gray: #00004d;
        --border: #292d30;
      }

      html {
        font-family: "Chirp", sans-serif;
        background-color: var(--background);
        color: var(--foreground);
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
    <script is:inline>
      document.addEventListener("astro:after-swap", () =>
        document.dispatchEvent(new CustomEvent("set-theme")),
      );
    </script>
  </body>
</html>
