---
import { ViewTransitions } from "astro:transitions";
import Themes from "astro-themes";
import SiteLayout from "./SiteLayout.astro";
import "./style.css";

type Props = { title: string };

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Themes />
    <ViewTransitions />
  </head>
  <body>
    <SiteLayout>
      <slot />
    </SiteLayout>
    <script is:inline>
      document.addEventListener("astro:after-swap", () =>
        document.dispatchEvent(new CustomEvent("set-theme")),
      );
    </script>
  </body>
</html>
