---
import { ViewTransitions } from "astro:transitions";
// import Themes from "astro-themes";
import SiteLayout from "./SiteLayout.astro";
// import "./style.css";

type Props = { title: string };

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="preload"
      href="/Chirp-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/Chirp-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/Chirp-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style is:global is:inline>
      @font-face {
        font-family: "Chirp";
        src: url("/Chirp-Regular.woff2") format("woff2");
      }

      @font-face {
        font-family: "Chirp";
        font-weight: 500;
        src: url("/Chirp-Medium.woff2") format("woff2");
        font-style: normal;
      }

      @font-face {
        font-family: "Chirp";
        font-weight: 700;
        src: url("/Chirp-Bold.woff2") format("woff2");
        font-style: normal;
      }

      body {
        font-family: "Chirp";
      }
    </style>
    <link rel="stylesheet" href="/style.css" />
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <!-- <Themes /> -->
    <ViewTransitions />
  </head>
  <body>
    <SiteLayout>
      <slot />
    </SiteLayout>

    <!-- <script is:inline>
      document.addEventListener("astro:after-swap", () =>
        document.dispatchEvent(new CustomEvent("set-theme")),
      );
    </script> -->
  </body>
</html>
