---
import LeftBar from "@/components/LeftBar.astro";
---

<div class="flex justify-center divide-x divide-border">
  <LeftBar transition:persist />
  <div class="max-w-[600px] border border-solid border-red-500">
    <slot />
  </div>
  <div
    class="max-[987px]:hidden w-full p-4 max-w-[350px] block sticky top-0 h-screen overflow-scroll"
  >
    <span class="block w-full">🚧 work in progress</span>
  </div>
  <div class="min-[987px]:border border-border"></div>
</div>
