@font-face {
  font-family: "Chirp";
  font-weight: 400;
  font-display: block;
  src: url(chirp-regular-web.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-display: block;
  font-family: "Chirp";
  font-weight: 500;
  src: url(chirp-medium-web.woff2) format("woff2");
  font-style: normal;
}
@font-face {
  font-display: block;
  font-family: "Chirp";
  font-weight: 700;
  src: url(chirp-bold-web.woff2) format("woff2");
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #101518;
  --primary: #1d9bf0;
  --muted: #f6f6f6;
  --muted-foreground: #71767b;
  --gray: #00004d;
  --border: #ecf1f2;
}

.dark,
[data-theme="dark"] {
  --background: #000;
  --foreground: #e2e6e7;
  --primary: #1d9bf0;
  --muted: #0c0c0c;
  --muted-foreground: #71767b;
  --gray: #00004d;
  --border: #292d30;
}

html {
  font-family: "Chirp", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}